.conatiner {
    width: 100%;
    height: auto;
    background-repeat: no-repeat;
    background-image: radial-gradient(circle, #874242 0, #0f1a30 100%);
  }
  .form-label {
    position: absolute;
    margin-top: 1rem;
    margin-left: 0.7rem;
    transition: all 0.3s ease-out;
    pointer-events: none;
    color: red;
  }
  
  .img-ani {
    animation: imgAnim 1s ease-in;
  }
  
  .form-ani {
    animation: formani 1s ease-in;
  }
  .focused .form-label {
    transform: translateY(-1.8rem);
    font-size: 0.5rem;
    color: #7352c7;
    font-weight: 600;
    background: transparent;
    background-clip: "text";
    color: transparent;
  }
  
  .password-input {
    margin-top: 1rem;
  }
  
  .eye {
    position: absolute;
    top: 9rem;
    right: 12rem;
    background: #ff0000;
    border: none;
    background: transparent;
  }
  
  
  
  .btn-hover-effect:hover {
    border: 2px solid green;
    background-color: none;
    color: rgb(255, 255, 255);
  }
  
  
  @keyframes imgAnim {
    0% {
      transform: translateX(-100%);
    }
  
    100% {
      transform: translateX(0);
    }
  }
  
  @keyframes formani {
    0% {
      transform: translateX(200%);
    }
  
    100% {
      transform: translateY(0);
    }
  }
  
  @media (max-width: 720px) {
    .eye {
      position: absolute;
      top: 9rem;
      right: 11rem;
      background: #ff0000;
      border: none;
      background: transparent;
    }
  }
  
  @media (max-width: 540px) {
    .eye {
      position: absolute;
      top: 9rem;
      right: 9rem;
      background: #ff0000;
      border: none;
      background: transparent;
    }
  }
  
  @media (max-width: 460px) {
    .eye {
      position: absolute;
      top: 9rem;
      right: 8rem;
      background: #ff0000;
      border: none;
      background: transparent;
    }
  }
  
  @media (max-width: 380px) {
    .eye {
      position: absolute;
      top: 9rem;
      right: 6rem;
      background: #ff0000;
      border: none;
      background: transparent;
    }
  }
  