body {
  background-image: radial-gradient(circle, #202047 0, #020917 100%);
}
.form-label {
  position: absolute;
  margin-top: 1rem;
  margin-left: 0.7rem;
  transition: all 0.3s ease-out;
  pointer-events: none;
  color: rgb(239, 117, 117);
}

.img-ani {
  animation: imgAnim 1s ease-in;
}

.form-ani {
  animation: formani 1s ease-in;
}
.focused .form-label {
  transform: translateY(-1.8rem);
  font-size: 0.5rem;
  color: #7352c7;
  font-weight: 600;
  background: transparent;
  background-clip: "text";
  color: transparent;
}

.password-input {
  margin-top: 1rem;
}

.eye {
  position: absolute;
  top: 9rem;
  right: 12rem;
  background: #ff0000;
  border: none;
  background: transparent;
}

.btn-hover-effect {
  font-size: 1.4rem;
  font-family: NoirPro, Arial;
  background: #7352c7;
  outline: none;
  border: none;
  color: white;
  transition: all 0.4s;
}

.btn-hover-effect:hover {
  border: 2px solid #7352c7;
  background: white;
  color: #7352c7;
}

@keyframes imgAnim {
  0% {
    transform: translateX(-100%);
  }

  100% {
    transform: translateX(0);
  }
}

@keyframes formani {
  0% {
    transform: translateX(200%);
  }

  100% {
    transform: translateY(0);
  }
}

@media (max-width: 720px) {
  .eye {
    position: absolute;
    top: 9rem;
    right: 11rem;
    background: #ff0000;
    border: none;
    background: transparent;
  }
}

@media (max-width: 540px) {
  .eye {
    position: absolute;
    top: 9rem;
    right: 9rem;
    background: #ff0000;
    border: none;
    background: transparent;
  }
}

@media (max-width: 460px) {
  .eye {
    position: absolute;
    top: 9rem;
    right: 8rem;
    background: #ff0000;
    border: none;
    background: transparent;
  }
}

@media (max-width: 380px) {
  .eye {
    position: absolute;
    top: 9rem;
    right: 6rem;
    background: #ff0000;
    border: none;
    background: transparent;
  }
}
